.accordion .accordion-item {
	border: 1px solid #0C2340;
	border-bottom: 0;
}
.accordion .accordion-item .title {
	color: black;
	height: 200px;
}
.accordion .accordion-item.active .title {
	background: gray;
	color: white;
}
.accordion, 
.accordion .accordion-item:first-child .title,
.accordion .accordion-item:last-child .title {
	border-radius: 0;
}
.accordion .accordion-item:last-child .title,
.accordion .accordion-item:last-child.active .title,
.accordion .accordion-item:last-child.active {
	border-bottom: 1px solid #0C2340;
}
.accordion {
	border-color: transparent;
	padding-bottom: 20px;
	display: block;
}